{{ define "main" }}
    <article class="post-single {{ if .Params.cover }}has-banner{{ end }}">
        {{ with .Params.cover }}
        <div class="post-single-banner">
            <img src="{{ . }}" alt="{{ $.Title }}">
        </div>
        {{ end }}
        <div class="post-single-content">
            {{ if and .Title (ne .Title "no") }}
            <h1 class="post-single-title">{{ .Title }}</h1>
            {{ end }}
            <p class="post-single-date">{{ .Date.Format "2006年01月02日" }}</p>
            {{ .Content }}
        </div>
    </article>
{{ end }}