{{ define "main" }}
    <article class="post-single {{ if .Params.cover }}has-banner{{ end }}">
        {{ with .Params.cover }}
        <div class="post-single-banner">
            <img src="{{ . }}" alt="{{ $.Title }}">
        </div>
        {{ end }}
        <div class="post-single-content">
            {{ if and .Title (ne .Title "no") }}
            <h1 class="post-single-title">{{ .Title }}</h1>
            {{ end }}
            <p class="post-single-date">{{ .Date.Format "2006年01月02日" }}</p>
            {{ .Content }}
        </div>
    </article>
    <div class="post-nav">
        {{ with .PrevInSection }}
        <div class="post-nav-prev">
            <a href="{{ .RelPermalink }}">
                <span class="post-nav-label">Previous</span>
                <span class="post-nav-title">{{ .Title }}</span>
            </a>
        </div>
        {{ end }}
        {{ with .NextInSection }}
        <div class="post-nav-next">
            <a href="{{ .RelPermalink }}">
                <span class="post-nav-label">Next</span>
                <span class="post-nav-title">{{ .Title }}</span>
            </a>
        </div>
        {{ end }}
    </div>
{{ end }}