{{- $page := . -}}
{{- $author := $page.Params.author | default "七哇夸" -}}
{{- $avatar := printf "images/author/%s.png" $author -}}
{{- $authorKey := "qiwa" -}}
{{- if eq $author "商人" }}{{ $authorKey = "shangren" }}
{{- else if eq $author "地理学家" }}{{ $authorKey = "dilixuejia" }}
{{- else if eq $author "小王子" }}{{ $authorKey = "xiaowangzi" }}
{{- else if eq $author "狐狸" }}{{ $authorKey = "huli" }}
{{- else if eq $author "玫瑰" }}{{ $authorKey = "meigui" }}
{{- else if eq $author "蛇" }}{{ $authorKey = "she" }}
{{- else if eq $author "酒鬼" }}{{ $authorKey = "jiugui" }}
{{- end -}}
{{- $signature := index $page.Site.Params.authorSignatures $authorKey | default $page.Site.Params.authorSignatures.qiwa -}}
{{- return (dict 
    "author" $author 
    "avatar" $avatar 
    "authorKey" $authorKey 
    "signature" $signature
) -}}
