{{- $type := .Get "type" | default "netease" -}}
{{- $id := .Get "id" -}}
{{- $auto := .Get "auto" | default "false" -}}
{{- $width := .Get "width" | default "100%" -}}
{{- $height := .Get "height" | default 320 -}}

{{- if not $id -}}
    <div class="music-player-error">
        <p>Error: Music ID not provided.</p>
    </div>
{{- else if eq $type "netease" -}}
    <div class="music-player">
        <iframe 
            frameborder="no" 
            border="0" 
            marginwidth="0" 
            marginheight="0" 
            width="{{ $width }}" 
            height="{{ $height }}"
            src="https://music.163.com/outchain/player?type=2&id={{ $id }}&auto={{ $auto }}&height={{ $height }}"
        ></iframe>
    </div>
{{- else if eq $type "qq" -}}
    <div class="music-player">
        <iframe 
            frameborder="no" 
            border="0" 
            marginwidth="0" 
            marginheight="0" 
            width="{{ $width }}" 
            height="{{ $height }}"
            src="https://y.qq.com/iframe/player.html?vid={{ $id }}&tiny=0&auto={{ $auto }}"
        ></iframe>
    </div>
{{- else if eq $type "kuwo" -}}
    <div class="music-player">
        <iframe 
            frameborder="no" 
            border="0" 
            marginwidth="0" 
            marginheight="0" 
            width="{{ $width }}" 
            height="{{ $height }}"
            src="https://www.kuwo.cn/player.htm?id={{ $id }}&type=music"
        ></iframe>
    </div>
{{- else -}}
    <div class="music-player-error">
        <p>Error: Unsupported music type. Supported types: netease, qq, kuwo</p>
    </div>
{{- end -}}